{% load static %}
{% include 'nav.html'%}

<section id="abouts" class="abouts">
    <div class="container">
        <div class="row">
            <div class="abouts_content">
                <div class="col-md-6">
                    <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                        <img src="{% static 'assets/images/ab.png'%}" alt="" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single_abouts_text wow slideInRight" data-wow-duration="1s">
                        <h4>Sobre nosotros</h4>
                        <h3>Nuestras Delicias</h3>
                        <p>En "Le Tableau," nos enorgullece ser un refugio gastronómico donde la pasión por la comida se encuentra con la elegancia.</p>

                        <p>Nuestro equipo de chefs apasionados trabaja incansablemente para crear platos que son verdaderas obras maestras de sabor y presentación.

                            Cada ingrediente que utilizamos es seleccionado con cuidado, y cada plato que servimos refleja nuestra dedicación a la excelencia culinaria. En "Le Tableau," no solo servimos comida, creamos experiencias culinarias memorables.</p>

                        <!-- <a href="" class="btn btn-primary">click aqui</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}