{% load static %}
{% include 'nav.html'%}

<div class="single_features_text">
    <div class="container ">
        <div class="center-login">
            {% include 'messages.html' %}
        <h3>Reserva una mesa</h3>
        <div class="single_widget_form text-left">
            
            <form method="POST" id="formid">
                {%csrf_token%}
                <div class="form-group">
                    <label for="fecha">Seleccione una fecha</label>
                    <input name="fecha" id="fecha" class="datepicker" autocomplete="off" data-provide="datepicker">
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad de personas</label>
                    <input type="number" min="1" name="cantidad" id="cantidad">
                </div>
                <div class="form-group">
                    <label for="sucursal">Seleccione una sucursal</label>
                    <select id="sucursal" name="sucursal">
                        <option disabled selected="selected" value="0">--Seleccione--</option>
                        {% if sucursales%}
                        {% for sucursal in sucursales%}
                        <option value="{{sucursal.id}}">{{sucursal.nombre}}</option>
                        {% endfor %}
                        {% endif %}
                      </select>
                </div>
                <div class="form-group">
                    <label for="bloque">Seleccione un bloque</label>
                    <select id="bloque" name="bloque">
                        <option disabled selected="selected" value="0">--Seleccione--</option>
                        {% if bloques%}
                        {% for bloque in bloques%}
                        <option value="{{bloque.id}}">{{bloque.nombre}}</option>
                        {% endfor %}
                        {% endif %}
                      </select>
                </div>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>	
        </div>
        </div>
        
        {%if mesas%}
        {% for mesa in mesas %}
        <div class="card card-price col-md-4" >
            <div class="card-body">
                <div class="lead">Mesa Nº{{mesa.numero}}</div>
                <ul class="details">
                <li><h5>Capacidad: {{mesa.capacidad}}</h5></li>
                <li><h5>Fecha: {{fecha}}</h5></li>
                <li><h5>Dirección: {{mesa.sucursal.direccion}}</h5></li>
                <li><h5>Bloque de horario: {{bloque.horarioInicio}} a {{bloque.horarioTermino}}</h5></li>
                </ul>
                <a href="/booking/{{mesa.id}}/{{fecha}}/{{cantidad}}/{{bloque.id}}" class="btn btn-primary btn-block buy-now">
                Reservar <span class="glyphicon glyphicon-triangle-right"></span>
                </a>
            </div>
        </div>
            
        {%endfor%}
        {%endif%}

                
    </div>
</div>



{%include 'footer.html'%}