{% load static %}
{% include 'nav.html'%}

<section id="features" class="features">
    <div class="slider_overlay">
        <div class="container">
            <div class="row">
                <div class="main_features_content_area  wow fadeIn" data-wow-duration="3s">
                    <div class="col-md-12">
                        <div class="main_features_content text-left">
                            <div class="col-md-6">
                                <div class="single_features_text">
                                    <h3>Contacto</h3>
                                    <div class="single_widget_form text-left">
                                        <form action="#" id="formid">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Nombre" required="">
                                            </div>
            
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                            </div>
            
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Asunto">
                                            </div>
            
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="3" placeholder="Mensaje"></textarea>
                                            </div>
            
                                            <input type="submit" value="Enviar" class="btn btn-primary">
                                        </form>	
                                    </div>
                                    <br>
                                    <p>En "Le Tableau," te invitamos a descubrir sabores exóticos que te transportarán a lugares lejanos con cada plato. Nuestros chefs expertos han seleccionado ingredientes de todo el mundo para crear una experiencia culinaria única. Desde picantes currys hasta suaves ceviches, cada bocado es una aventura en "Le Tableau." Ven y disfruta de un viaje de sabores exóticos que estimularán tus sentidos en cada comida.</p>

                                    <!-- <a href="" class="btn btn-primary">click aqui</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}