{% load static %}
{% include 'nav.html'%}
<div class="single_features_text">
    <div class="container margin-def center-login ">
        {% include 'messages.html' %}
        <h3>Iniciar sesión</h3>
        <form method="POST">
            <table class="table">
                {% csrf_token %}
                {{ form }}

            </table>
            <button type="submit" class="btn btn-info">Login</button>
            <a href="/register">¿No tienes una cuenta? Haz click aquí!</a>
        </form>
    </div>
</div>
{%include 'footer.html'%}